html, body {
	padding: 0;
	margin: 0;
	background-color: #858280;
}

@font-face {
    font-family: "titles";
    src: url(fonts/AlteHaasGroteskBold.ttf);
}

@font-face {
    font-family: "paragraphs";
    src: url(fonts/AlteHaasGroteskRegular.ttf);
}


h1 {
	text-align: center;
	font-family: "titles";
}

h2, h3 {
	font-family: "titles";
}

h1 {
	margin-bottom: 45px;
}

.header {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
  	height: auto;
}

.col-md-7 {
	height:100%;
	border-left: thin solid white;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
}

.btn {
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 0;
}

.btn-grey {
	background-color: #e7e7e7;
	color: black;
}
