html, body {
	padding: 0;
	margin: 0;
	background-color: #858280;
}

@font-face {
    font-family: "titles";
    src: url(fonts/AlteHaasGroteskBold.ttf);
}

@font-face {
    font-family: "paragraphs";
    src: url(fonts/AlteHaasGroteskRegular.ttf);
}


h1 {
	text-align: center;
	font-family: "titles";
	margin-bottom: 45px;
}

h2, h3 {
	font-family: "titles";
}

.header {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
  	height: auto;
}

.col-md-7 {
	height:100%;
	border-left: thin solid white;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
}

.btn {
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 0;
}

.btn-grey {
	background-color: #e7e7e7;
	color: black;
}

.col, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 45px !important;
	padding-right: 45px !important;
}

.allItems {
	height: 240px;
	max-height: 240px;
	overflow: scroll;
}

table {
	background-color: white;
	width: 100%;
	border: 1px solid black;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid black;
}

@media screen and (min-device-width: 481px) and (max-device-width: 800px) {
    h1 {
		font-size: 3.7em;
	}

	h2 {
		font-size: 3.4em;
	}

	h3 {
		font-size: 3.0em;
	}

	h4 {
		font-size: 2.5em;
	}

	p {
		font-size: 2.2em;
	}

	label, td, th {
		font-size: 1.6em;
	}
}

@media screen and (max-device-width: 480px) {
    h1 {
		font-size: 3.7em;
	}

	h2 {
		font-size: 3.4em;
	}

	h3 {
		font-size: 3.0em;
	}

	h4 {
		font-size: 2.5em;
	}

	p {
		font-size: 2.2em;
	}

	label, td, th {
		font-size: 1.6em;
	}
}
