<h2> Add Item </h2>
<p> Please fill in all fields below and press submit to add an item </p>
<form id="addItem">
  <label><b>* Name:</b></label>
    <input type="text" name="name" required>
    <br />
    <label><b>* Cost:</b></label>
    <input type="text" name="volume" required>
    <br />
    <label><b>* Volume:</b></label>
    <input type="text" name="volume" required>
    <br />
    <label><b>* Days until expiration:</b></label>
    <input type="text" name="volume" required>
    <br />
    <button type="submit" form="addItem" value="Add Item" class="btn">Submit</button>
	<button type="reset" value="Reset" class='btn btn-grey'>Clear</button>
</form>